{% extends '@KvikAdmin/layout.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock title %}

{% block page_h1 %}
    <h1>Tableau de bord</h1>
{% endblock %}

{% block container %}
Hello World!
{% endblock container %}