body{
    font-family: 'Sansita', sans-serif;
}

.a-hover a:hover{
    background-color: #f0f0f0;
}
.size-little{
    font-size: small;
}


/*LK: Edit Bootstrap */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.4rem;
}


/*LK: Elements added */
.marge-left{
    margin-left: 2rem;
}
/*LK: no-radius */
.dropdown-menu{
    border-radius: 0 !important;
}
a{ color: #0F7DCF;}
.filters a.trash{ color: #333;}
.filters a.nav-link{ font-size: smaller;}
.filters a.nav-link:hover{ color: #0061C9; text-decoration: underline;}
.filters a.nav-link.active{ font-weight: 700; background-color: #f2f2f2;}
.filters a.trash.active{ font-weight: normal; color: #e14d43;}
